[submodule "bechalor/Java"]
	path = bechalor/Java
	url = https://github.com/abdarum/Java.git
[submodule "bechalor/Szklarnia_projekt_zespolowy"]
	path = bechalor/Szklarnia_projekt_zespolowy
	url = https://github.com/abdarum/Szklarnia_projekt_zespolowy.git
[submodule "master/self-discipline-rpg-app"]
	path = master/self-discipline-rpg-app
	url = https://github.com/greencashew/self-discipline-rpg-app.git
[submodule "master/ISM"]
	path = master/ISM
	url = https://github.com/abdarum/ISM.git
[submodule "master/Erasmus_course_Java"]
	path = master/Erasmus_course_Java
	url = https://github.com/abdarum/Erasmus_course_Java.git
[submodule "master/Erasmus_courses"]
	path = master/Erasmus_courses
	url = https://github.com/abdarum/Erasmus_courses.git
[submodule "master/RSM1"]
	path = master/RSM1
	url = https://github.com/abdarum/RSM1.git
